#countLabel {
    display: block;
    text-align: center;
    font-size: 85px;
    color: blue;
}

#titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleLine {
    display: inline-block;
    text-align: center;
    color: rgb(120, 0, 0);
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid red;
    padding-left: 15px;
    padding-right: 8px;
    padding-bottom: 8px;
    border-radius: 50px;
}

#hyperlinkedInfo {
    color: rgb(83, 223, 255);
    font-family: Arial;
    font-size: 20px;
}

#buttonCentered{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    background-color: blueviolet;
    color:rgb(0, 0, 66);
    border-color: green;
}

#centeredHyperLink{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(83, 223, 255);
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
}

#basicText {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 136, 255);
}

#LearningBottom{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 136, 255);
}

#fadedTextBox {
    color: rgb(146, 146, 146);
    font-family: Arial;
    font-size: 20px;
}

#frontpage {
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgb(79, 60, 206), rgb(0, 0, 66));
}

#headerStyleThree {
    display:flex; 
    justify-content: center; 
    text-decoration: underline; 
    font-size: 25px; 
    font-family:Arial, Helvetica, sans-serif; 
    color: rgb(0, 136, 255);
}

#embedTitle {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: floralwhite;
}

#pdfContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 1300px;
}

#pdfContainer embed{
    width: 100%;
    height: 100%;
}





.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
}

.blank-space {
    height: 3000px; 
    width: 100%;   
    border: 2px solid #ccc; /* Optional: Add a border */
    box-sizing: border-box;
    margin: 20px 0; /* Optional: Add margin for spacing */
    padding: 20px; /* Optional: Add padding inside the container */
}

iframe{
    width: 100%;
    max-width: 560px;
    height: 315px;
    display: block;
}

@media (max-width: 600px){
   iframe{
    max-width: 90%;
    
    margin: 0 auto;
   }
    
}








/* BODY EDITS */
body{
    margin: 0;
    padding: 0;
}

/* Beginning of Navigation Bar Styling*/
nav {
    background-color: rgb(44, 20, 202); /* Set the background color */
    color: rgb(0, 64, 255); /* Set the text color */
    padding: 10px; /* Add padding to the navigation bar */
}

nav ul {
    list-style-type: none; /* Remove the default list styles */
    margin: 0;
    padding: 0;
}

nav li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add space between list items */
}

nav a {
    text-decoration: none; /* Remove underline from links */
    color: #09bfed; /* Set the link text color */
}
/* End of Nav Bar Styling*/