#countLabel {
    display: block;
    text-align: center;
    font-size: 85px;
    color: blue;
}

#titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleLine {
    display: inline-block;
    text-align: center;
    color: rgb(120, 0, 0);
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid red;
    padding-left: 15px;
    padding-right: 8px;
    padding-bottom: 8px;
    border-radius: 50px;
}

#hyperlinkedInfo {
    color: rgb(83, 223, 255);
    font-family: Arial;
    font-size: 20px;
}

#basicText {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 136, 255);
}

#fadedTextBox {
    color: rgb(146, 146, 146);
    font-family: Arial;
    font-size: 20px;
}

#frontpage {
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgb(79, 60, 206), rgb(0, 0, 66));
}

#headerStyleThree {
    display:flex; 
    justify-content: center; 
    text-decoration: underline; 
    font-size: 25px; 
    font-family:Arial, Helvetica, sans-serif; 
    color: rgb(0, 136, 255);
}

#embedTitle {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: floralwhite;
}

#pdfContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 1300px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .image-container img {
        max-width: 100%;
    }
